<div class="is-centered">
    <a href="https://twitter.com/troypavlek" class="button"><i class="fa fa-twitter-square"></i> @troypavlek</a>
    <a href="/fb" class="button"><i class="fa fa-facebook-square"></i> Facebook</a>
    <a href="mailto:troy@tpavlek.me" class="button"><i class="fa fa-envelope"></i> troy@tpavlek.me</a>
</div>
