<div class="links-post">
    <h2>In the News <i class="fa fa-chevron-down"></i></h2>
    <h3>Journal: Software developer says CIty of Edmonton apps miss the mark</h3>
    <a href="http://edmontonjournal.com/news/local-news/software-developer-says-city-of-edmonton-apps-miss-the-mark">http://edmontonjournal.com/news/local-news/software-developer-says-city-of-edmonton-apps-miss-the-mark</a>
    <h3>Edmonton developer's website helps you access your inner political junkie</h3>
    <a href="http://www.metronews.ca/news/edmonton/2015/11/25/edmonton-website-developer-creates-window-on-council-.html">http://www.metronews.ca/news/edmonton/2015/11/25/edmonton-website-developer-creates-window-on-council-.html</a>
    <h3>Local developer lauds functionality of city's new site</h3>
    <a href="http://www.edmontonexaminer.com/2016/10/05/local-developer-lauds-functionality-of-citys-new-site">http://www.edmontonexaminer.com/2016/10/05/local-developer-lauds-functionality-of-citys-new-site</a>
</div>
