{% extends 'default.html.twig' %}

{% block body_content %}
    <div class="content-wrapper unwrapped">
        {% block content_wrapper %} {% block content %} {% endblock %} {% endblock %}
    </div>
{% endblock %}
