.button {
  box-sizing: border-box;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 115%;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  padding: 0.75rem 3rem;
  line-height: normal;
  display: inline-block;
}

.button-lg {
  font-size: 200%;
}

.button.xlarge, .sc2ctl div.splash .content .button {
  font-size: 250%;
}

.button {
  background: #d0aa48;
}

.sc2ctl {
  /* our vertical line */
}

.sc2ctl h2 {
  color: black;
}

.sc2ctl div.splash {
  position: relative;
  min-height: 50vh;
  background-color: #000;
}

.sc2ctl div.splash .content {
  text-align: center;
  position: absolute;
  width: 80%;
  padding-left: 10%;
  height: 100%;
}

.sc2ctl div.splash .content h1 {
  display: none;
}

.sc2ctl div.splash .content p {
  color: white;
  font-size: 150%;
  line-height: 1.5em;
}

.sc2ctl div.splash .content .buttons {
  padding-left: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.sc2ctl div.splash:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  background-image: url("/img/projects/sc2ctl-logo.jpg");
  background-size: cover;
  opacity: 0.8;
  filter: alpha(opacity=40);
  height: 100%;
  background-color: #000;
}

.sc2ctl .section {
  padding: 2rem;
}

.sc2ctl section.section:nth-of-type(1) {
  text-align: center;
  background: #98C895;
}

.sc2ctl section.section:nth-of-type(1) p {
  color: black;
  font-size: 150%;
  line-height: 1.5em;
  padding-left: 10%;
  padding-right: 10%;
}

.sc2ctl section.section:nth-of-type(2) {
  background: #81BFE6;
  color: #1a5981;
}

.sc2ctl .timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.sc2ctl .timeline .block {
  margin-bottom: 1rem;
  /* The small arrow pointer beside each block */
}

.sc2ctl .timeline .block .content {
  position: relative;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: #2c94d5;
  width: 80%;
}

.sc2ctl .timeline .block .content .date {
  color: #2c94d5;
  font-size: 120%;
}

.sc2ctl .timeline .block .content p {
  word-wrap: break-word;
}

.sc2ctl .timeline .block .content::before {
  content: '';
  position: absolute;
  border: 7px solid transparent;
  height: 0;
  width: 0;
}

.sc2ctl .timeline .block .img-container {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: -13px;
  background: #9C41D1;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.sc2ctl .timeline .block .img-container img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.sc2ctl .timeline .block .img-container.start {
  background: #98C895;
}

.sc2ctl .timeline .block .img-container.wait {
  background: #E8E81C;
}

.sc2ctl .timeline .block .img-container.video {
  background: #D9273C;
}

.sc2ctl .timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: #f5f5f5;
}

@media only screen and (max-width: 70rem) {
  .sc2ctl .timeline .block {
    /* so the image lines up with the pointer on responsive site */
  }
  .sc2ctl .timeline .block .img-container {
    margin-top: 0.5rem;
  }
  .sc2ctl .timeline .block .content {
    margin-left: 3rem;
  }
  .sc2ctl .timeline .block .content::before {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 7px solid white;
  }
}

@media only screen and (min-width: 70rem) {
  .sc2ctl {
    /* we clear the floats after each block, so that sizes are proper */
  }
  .sc2ctl .timeline .block .content {
    width: 40%;
  }
  .sc2ctl .timeline .block .content .date {
    width: 100%;
    position: absolute;
    left: 140%;
    top: 1rem;
  }
  .sc2ctl .timeline .block .content::before {
    border-left: 7px solid white;
    top: 24px;
    left: 100%;
  }
  .sc2ctl .timeline .block .img-container {
    left: 50%;
    margin-left: -28px;
    width: 60px;
    height: 60px;
  }
  .sc2ctl .timeline .block:nth-child(even) .content {
    float: right;
  }
  .sc2ctl .timeline .block:nth-child(even) .content .date {
    left: auto;
    right: 140%;
    text-align: right;
  }
  .sc2ctl .timeline .block:nth-child(even) .content::before {
    left: auto;
    right: 100%;
    border-left: none;
    border-right: 7px solid white;
  }
  .sc2ctl .timeline::before {
    left: 50%;
  }
  .sc2ctl .block::after {
    content: '';
    display: table;
    clear: both;
  }
}

h2.tease {
  margin-top: 6rem;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  line-height: 1em;
}

table {
  width: 100%;
  border: #8e7024;
  background-color: #d0aa48;
}

table tr:nth-child(2n -1) {
  background: #e5d099;
}

table thead tr {
  background-color: inherit !important;
}

table th, table td {
  padding: 10px;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.content-wrapper pre code * {
  font-family: Inconsolata, Menlo, Courier, monospace;
}

code {
  font-family: Inconsolata, Menlo, Courier, monospace;
  color: #f8f8f2;
  background-color: #272822;
  padding: 5px;
  border-radius: 5px;
}

h1, h2 {
  color: white;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

body {
  background-color: #325770;
  margin: 0;
}

.content-wrapper {
  padding-top: 6rem;
}

.content-wrapper.unwrapped {
  padding-top: 0;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  outline: 0;
}

a:active, a:hover, a:focus {
  outline: 0;
}

.is-centered, .projects, .project {
  text-align: center;
}

.is-centered:not(h1), .projects:not(h1), .project:not(h1) {
  margin: 0 auto;
}

.padding-normal, nav.main-nav a, .policy-block, .sidekick-post .text, .links-post .text, .links-post, .archive-post .text {
  padding: 1rem;
}

.padding-xl, .hero-post text {
  padding: 3rem;
}

.secondary-fg {
  color: #d0aa48;
}

.half-pill, .summary-block, .project, .sidekick-post, .links-post {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.home-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 9em;
  text-align: right;
  font-size: 1.5em;
  margin-right: 3rem;
  z-index: 10;
  padding: 1em;
}

.home-nav img {
  width: 100%;
}

nav.main-nav {
  text-align: right;
  font-size: 1.5em;
  margin-right: 3rem;
  z-index: 10;
  padding: 1em;
  position: absolute;
  top: 0;
  right: 0;
}

nav.main-nav ul {
  margin: 0;
  padding: 0;
}

nav.main-nav li {
  display: inline-block;
  color: white;
  margin-right: 1rem;
  text-transform: uppercase;
}

nav.main-nav li:hover {
  color: #325770;
  background-color: white;
  border-radius: 10px;
}

nav.main-nav a {
  display: block;
}

nav.main-nav a:visited {
  text-decoration: none;
}

nav.main-nav .secondary-action, nav.main-nav li.primary-action {
  border: 2px solid white;
  border-radius: 10px;
}

nav.main-nav li.primary-action {
  color: #325770;
  background-color: white;
}

.blog-sidebar {
  background: rgba(21, 71, 120, 0.5);
  width: 30rem;
  position: absolute;
  display: -webkit-box;
  display: flex;
  flex-flow: column wrap;
  top: 0;
  left: 0;
  z-index: 5;
}

.blog-sidebar .summary-block, .blog-sidebar .project {
  height: 15rem;
}

.blog-sidebar .fa-comment {
  font-size: 2.5em;
}

.blog-header {
  background-image: url("/img/campaign-logo/speech-regular.png");
  background-repeat: no-repeat;
  background-size: auto 3rem;
  background-position-y: center;
  background-position-x: 1rem;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.blog-header h1 {
  display: inline;
  margin-top: 1rem;
  font-size: 2em;
  position: relative;
  left: 6rem;
}

.date {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #d0aa48;
}

.policy-block {
  background: #2c3e4c;
}

.policy-block .post-content {
  color: white;
}

.policy-block h1 {
  margin-bottom: 0;
}

.summary-block, .project {
  display: block;
  padding: 0;
  margin-bottom: 2rem;
  width: 90%;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 20rem;
}

.summary-block .summary-description:after, .project .summary-description:after, .project .project-description:after {
  content: "";
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 70%);
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 70%);
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 20px;
}

.summary-block .summary-description, .project .summary-description, .project .project-description {
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 40%;
  width: 100%;
  height: 60%;
}

.summary-block .summary-description .text, .project .summary-description .text, .project .project-description .text {
  position: absolute;
  bottom: 0;
  z-index: 10;
  left: 0;
  right: 0;
}

.summary-block .summary-description a, .project .summary-description a, .project .project-description a, .summary-block .summary-description a:visited, .project .summary-description a:visited, .project .project-description a:visited {
  color: inherit;
}

.summary-block .summary-description h2, .project .summary-description h2, .project .project-description h2 {
  margin: 0;
  color: white;
}

.summary-block .summary-description p, .project .summary-description p, .project .project-description p {
  padding: 1em;
  opacity: 1;
  font-weight: bold;
  color: ghostwhite;
}

.archive-link {
  display: block;
  width: 100%;
}

.splash-container {
  display: -webkit-box;
  display: flex;
  flex-flow: row;
}

.splash.logo {
  display: -webkit-box;
  display: flex;
  flex-flow: column;
  padding-right: 3rem;
  position: relative;
  top: 10rem;
  -webkit-box-flex: 1;
  flex-grow: 1;
  z-index: 2;
}

.splash.logo img {
  max-height: 25vh;
  max-width: 100%;
}

.splash.profile {
  text-align: right;
  height: 85vh;
  min-width: 60%;
  z-index: 1;
  -webkit-box-flex: 2;
  flex-grow: 2;
}

.splash.profile img {
  height: 100%;
  max-width: 100%;
}

.splash.policy-links {
  padding-top: 3rem;
  padding-left: 6rem;
}

.policy-link {
  background-image: url("/img/campaign-logo/speech-tertiary.png");
  background-position-y: center;
  background-size: 3rem;
  background-repeat: no-repeat;
  padding-left: 5rem;
  display: block;
  font-size: 3em;
  font-weight: 900;
  color: white;
  margin-bottom: 1rem;
}

.policy-link:hover {
  background-image: url("/img/campaign-logo/speech-regular.png");
  color: #d0aa48;
}

.title {
  font-size: 2em;
}

.blog-archive {
  padding-left: 5rem;
  padding-right: 5rem;
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.blog-archive h1.page-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3em;
  width: 100%;
}

.hero-post, .sidekick-post, .links-post, .archive-post {
  background: #1d4561;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  width: 100%;
  height: 30rem;
  margin-bottom: 3rem;
}

.hero-post .img, .sidekick-post .img, .links-post .img, .archive-post .img {
  width: 60%;
  height: 100%;
  display: inline-block;
  background-size: cover;
  overflow: hidden;
  background-position: center;
}

.hero-post .text, .sidekick-post .text, .links-post .text, .archive-post .text {
  text-align: left;
  width: 40%;
  font-size: 1.2em;
  line-height: 2.8em;
}

.hero-post .text .title::first-line, .sidekick-post .text .title::first-line, .links-post .text .title::first-line, .archive-post .text .title::first-line {
  font-size: 120%;
}

.sidekick-post {
  height: 20rem;
}

.sidekick-post, .links-post {
  width: 30%;
}

.sidekick-post .text, .links-post .text {
  width: 69%;
  font-size: 0.8em;
}

.sidekick-post .text .title::first-line, .links-post .text .title::first-line {
  font-size: 100%;
}

.sidekick-post .img, .links-post .img {
  width: 30%;
}

.links-post {
  height: auto;
}

.links-post h1, .links-post h2, .links-post h3 {
  margin-bottom: 0;
}

.links-post a {
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}

.council-motion {
  padding: 1rem;
  border: 4px solid #d1870e;
  border-radius: 15px;
  background-color: #fdf2e1;
}

figure {
  padding: 1em;
  text-align: center;
  border: 4px solid #d1870e;
  border-radius: 15px;
}

figure img {
  max-width: 100%;
  overflow: hidden;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
}

figure:hover img {
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}

figcaption {
  font-size: 90%;
  color: #d0aa48;
}

.links-post {
  color: #1d4561 !important;
  background: #d0aa48;
  display: block;
}

.links-post h2, .links-post h3 {
  color: #1d4561;
}

.archive-post {
  height: 10rem;
}

.archive-post .img {
  width: 30%;
}

.archive-post .text {
  width: 70%;
  font-size: 90%;
}

.archive-post .text h1.title {
  font-size: 2em;
  margin-top: 0;
  width: 100%;
}

.archive-post .text .title::first-line {
  font-size: 100%;
}

.img.default {
  background-image: url("/img/campaign-logo/speech-regular.png");
  background-repeat: no-repeat;
  background-size: auto 9rem;
  background-position-x: left;
  padding-left: 12rem;
  line-height: 10rem;
  color: white;
  font-weight: 900;
  font-size: 5em;
}

.hero-post .img.default {
  line-height: 30rem;
  background-image: url("/img/campaign-logo/speech-regular.png");
  background-repeat: no-repeat;
  background-size: auto 15rem;
  padding-left: 17rem;
  background-position-y: center;
  font-size: 10em;
}

.post-content {
  margin: 0 auto;
  max-width: 60em;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: left;
  color: black;
  line-height: 2em;
}

.post-content h1, .post-content h2 {
  color: black;
}

.post-content hr {
  width: 30%;
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.post-content a:not(.button) {
  border-bottom: 2px dashed slategrey;
}

.post-content a:not(.button):hover {
  border-bottom: 3px solid slategray;
}

.footer a {
  border-bottom: 2px solid transparent;
}

.footer a:hover {
  border-bottom: 2px solid slategrey;
}

article.post, .post.summary-block, .post.project {
  margin: 3rem;
  text-align: center;
  background: white;
}

article.post img, .post.summary-block img, .post.project img {
  max-width: 100%;
}

article.post .summary-block, .post.summary-block .summary-block, .post.project .summary-block, article.post .project, .post.summary-block .project, .post.project .project {
  width: 100%;
  border-radius: 0;
}

article.post .summary-block .summary-description, .post.summary-block .summary-block .summary-description, .post.project .summary-block .summary-description, article.post .project .summary-description, .post.summary-block .project .summary-description, .post.project .project .summary-description, .project article.post .summary-block .project-description, .project .post.summary-block .summary-block .project-description, .post.project .summary-block .project-description, article.post .project .project-description, .post.summary-block .project .project-description, .post.project .project .project-description, article.post .summary-block .summary-description::after, .post.summary-block .summary-block .summary-description::after, .post.project .summary-block .summary-description::after, article.post .project .summary-description::after, .post.summary-block .project .summary-description::after, .post.project .project .summary-description::after, .project article.post .summary-block .project-description::after, .project .post.summary-block .summary-block .project-description::after, .post.project .summary-block .project-description::after, article.post .project .project-description::after, .post.summary-block .project .project-description::after, .post.project .project .project-description::after {
  border-radius: 0;
}

.post-controls {
  text-align: center;
}

.projects {
  margin-bottom: 3rem !important;
}

.project {
  margin-bottom: 2rem !important;
}

.project.yegvotes {
  background-image: url("/img/projects/yegvotes-info.png");
}

.project.basketofyegs {
  background-image: url("/img/projects/basketofyegs.png");
}

.project.jeopardy {
  background-image: url("/img/projects/jeopardy.png");
}

.project.ladderheroes {
  background-image: url("/img/projects/ladderheroes.png");
}

.project.sodoge {
  background-image: url("/img/projects/sodoge.png");
}

.project.sc2ctl {
  background-image: url("/img/projects/sc2ctl.png");
}

.project.highyield {
  background-image: url("/img/projects/highyield.png");
}

.project {
  height: 40em;
}

blockquote {
  color: #d0aa48;
  font-weight: bold;
  position: relative;
  background-image: url("/img/campaign-logo/speech-regular.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 4rem;
  min-height: 4rem;
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
}

blockquote p {
  width: 100%;
  padding-left: 7rem;
  padding-right: 4rem;
}

/* This is the class used for the footer */
.footer {
  box-sizing: border-box;
  background: #231f20;
  color: #c0bcbc;
  width: 100%;
  padding: 6rem;
  display: -webkit-box;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 1.8em;
  font-weight: 200;
}

.footer .description {
  max-width: 35rem;
  padding-right: 3rem;
}

.footer .contact, .footer .navigation {
  padding-right: 3rem;
}

.footer .contact a, .footer .navigation a {
  font-weight: 200;
  display: block;
}

@media screen and (max-width: 1500px), screen and (max-height: 900px) {
  .blog-sidebar {
    position: initial;
    flex-flow: row wrap;
    width: 100%;
  }
  .blog-sidebar .summary-block, .blog-sidebar .project {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 30rem;
  }
  .blog-header {
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    background-position-x: center;
  }
  nav.main-nav {
    position: initial;
  }
  .splash.profile {
    max-height: 79vh;
  }
  .splash.logo {
    position: initial;
  }
  .content-wrapper {
    padding-top: 1rem;
  }
  .text.padding-xl, .hero-post text.text {
    padding-top: 0;
  }
  .hero-post .img {
    width: 40%;
  }
  .hero-post .text {
    width: 60%;
  }
  .sidekick-post {
    height: 15rem;
  }
  .sidekick-post, .links-post {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .img.default {
    padding-left: 0;
  }
  h1 {
    font-size: 2em;
  }
  nav.main-nav {
    margin: 0;
    font-size: 1em;
  }
  .splash.profile {
    display: none;
  }
  .splash.logo {
    padding-right: 0;
    text-align: center;
  }
  .splash.logo img {
    max-height: 15rem;
  }
  .splash.logo .policy-links {
    text-align: left;
  }
  .splash-container {
    padding-left: 10%;
    padding-right: 10%;
  }
  article.post, .post.summary-block, .post.project {
    margin: 0;
  }
  .post-content {
    padding: 5%;
  }
  .blog-archive {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .hero-post {
    flex-flow: column;
    height: auto;
  }
  .hero-post .img {
    width: 100%;
    height: 15rem;
  }
  .hero-post .text {
    width: 100%;
  }
  .hero-post .img.default {
    line-height: 100%;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 200%;
  }
  h2.date {
    font-size: 1em;
  }
  .home-nav {
    position: initial;
    width: 100%;
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
  }
  .home-nav img {
    width: 50%;
  }
  .hero-post h1.title, .sidekick-post h1.title, .archive-post h1.title {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .hero-post .text {
    padding: 1rem;
    padding-top: 0;
  }
  .links-post {
    height: auto;
  }
  a.archive-post {
    height: auto;
  }
  a.archive-post .img {
    height: 10rem;
    width: 100%;
  }
  a.archive-post .text {
    width: 100%;
  }
  .splash.logo .policy-links {
    padding-left: 0;
    padding-top: 0;
  }
  .policy-link {
    font-size: 2em;
  }
  .footer {
    padding: 1rem;
    text-align: center;
  }
  .footer .description, .footer .navigation, .footer .contact {
    padding: 0;
  }
  .footer .navigation, .footer .contact {
    width: 50%;
  }
  blockquote {
    background-position-y: top;
    background-position-x: center;
  }
  blockquote p {
    padding: 0;
    padding-top: 4rem;
  }
  .summary-block .summary-description, .project .summary-description, .project .project-description {
    height: 80%;
    top: 20%;
  }
  .summary-block .summary-description::after, .project .summary-description::after, .project .project-description::after {
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 30%);
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 30%);
  }
}

@media screen and (max-height: 900px) {
  .splash.profile {
    -webkit-box-flex: 0;
    flex-grow: 0;
  }
  .splash.logo {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
}

/*# sourceMappingURL=style.css.map */
