/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-preflight.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind preflight;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

* {
  font-family: 'Lato', sans-serif;
  box-sizing:border-box;
}

.content-wrapper pre code * {
  font-family: Inconsolata, Menlo, Courier, monospace;
}

code {
  font-family: Inconsolata, Menlo, Courier, monospace;
  color: #f8f8f2;
  background-color: #272822;
  padding: 5px;
  border-radius: 5px;
}

.button {
@apply .inline-block .mx-auto .py-4 .px-8 .bg-secondary .no-underline .text-white .shadow .rounded-sm .text-lg .border-b-4 .border-green-darker;
}

.button:hover {
@apply .bg-secondary-light;
}

.main-heading {
  @apply .text-white .text-center .text-5xl .my-4;
}

.post-text {
  @apply .max-w-xl .mx-auto .text-xl .leading-loose .p-8;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, you should import this line from it's own file:
 *
 * @import "./tailwind-utilities.css";
 *
 * See: https://github.com/tailwindcss/tailwindcss/issues/53#issuecomment-341413622
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

twitterwidget {
  @apply .mx-auto;
}




.post-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.post-content a:not(.button):not(.no-underline) {
  border-bottom: 2px dashed slategrey;
  color: inherit;
  @apply .no-underline .font-bold;
}

.post-content a:hover:not(.button):not(.no-underline) {
  border-bottom: 3px solid slategray;
}

blockquote {
@apply .text-gold .border-l-4 .border-gold .font-bold;
}

blockquote p {
@apply .w-full .pl-8 .pr-16;
}

.project {
@apply .my-8 .h-72 .w-full .rounded-r-2xl .shadow .relative .bg-cover .bg-center;
}

.summary-description:after {
  content  : "";
  position : absolute;
  z-index  : 8;
  top   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, rgba(0,0,0, 0) 0%, rgba(0,0,0, 0.8) 70%);
  width    : 100%;
  height   : 100%;
  border-bottom-right-radius: 20px;
}

.summary-description {
  z-index: 1;
  text-align: center;

  position:absolute;
  top: 40%;
  width: 100%;
  height: 60%;

  a, a:visited {
    color: inherit;
  }

  h2 { margin: 0; color: white;}
}

@import "sc2ctl";
