---
layout: wrapped
title: Posts Archive
generator: pagination
use:
    - posts

---
{% set year = '0' %}

<div class="blog-archive">
<h1 class="page-title">THE BLOG</h1>

    {% for post in page.pagination.items %}
        {% if loop.index == 1 %}
            {% include 'hero-post.html.twig' with {"post":post} %}
        {% elseif loop.index == 2 %}
            {% include 'sidekick-post.html.twig' with {"post":post} %}
        {% elseif loop.index == 3 %}
            {% include 'sidekick-post.html.twig' with {"post":post} %}
            {% include 'links-post.html.twig' %}
            <h1 class="page-title">The Archive</h1>
        {% else %}
            {% include 'archive-post.html.twig' with {"post":post} %}
        {% endif %}
    {% endfor %}
</div>
