---
layout: unwrapped
title: Home
exclude_home_nav: true
use:
- posts
---

<div class="splash-container">
    <div class="splash profile">
        <picture>
            <source media="(min-width: 1500px)" srcset="/img/campaign-logo/troy-n-addie-lg.png">
            <source media="(min-width: 1000px)"  srcset="/img/campaign-logo/troy-n-addie-md.png">
            <img src="/img/campaign-logo/troy-n-addie-sm.png">
        </picture>
    </div>

    <div class="splash logo">
        <img src="/img/campaign-logo/full-logo-inverted.png"/>

        <div class="splash policy-links">
            <a href="/open-city" class="policy-link">Open City</a>

            <a href="/vision-zero" class="policy-link">Vision Zero</a>
            <a href="/efficient-effective-solutions" class="policy-link">Efficient, Effective Solutions</a>
        </div>

    </div>


</div>

<div class="blog-sidebar">
    <a href="/blog" class="blog-header">
        <h1>
            BLOG
        </h1>
    </a>


    {% for post in data.posts|slice(0,3) %}
    <a href="{{post.url}}" class="summary-block" style="background-image:url('{{post.imgpath}}{{post.img}}')">
        <div class="summary-description">
            <div class="text">
                <h2>{{ post.title }}</h2>
                <h4 class="date">
                    <small>{{ post.date|date("F jS") }}</small>
                </h4>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

<div class="policy-block">
    <h1 style="text-align:center">Hi! I'm Troy. Let's talk. &nbsp; <a href="#lets-talk"><i
            class="fa fa-chevron-circle-down"></i></a></h1>
    <a id="lets-talk"></a>
    <div class="post-content">
        <p>
            Most of my professional experience comes from my role as a software developer. In software, there exist some
            well-accepted principles for writing great software within a budget: <em>break down problems into their
            smallest
            solveable pieces</em> and <em>don't repeat yourself</em>
        </p>

        <p>
            I believe these same concepts can be applied directly to Edmonton City's Council, which is why I am running
            for a seat in Ward 11.
        </p>

        <p>
            You'll often hear that compromises need to be made to reduce taxes by cutting "extra" services that aren't
            required. I think we can make Edmonton a great place to live by reducing the tax burden <em>and</em>
            offering
            a slate of great services. We need to make the right investments: across nearly all industries, service is
            up and costs are down due to the increase in technology and automation. We need to better leverage
            technology
            to free up employee time to do work that software cannot easily take care of. We need to make the city
            open-first,
            so that citizens and journalists can help in the process of improvement, without burdening resources with
            FOIP
            requests. We need to use transportation dollars more effectively: reducing collisions will save more money
            than the infrastructure changes cost.
        </p>

        <p>
            We need a new voice on City Council. I look forward to convincing you that I can be that voice.
        </p>

        <p>
            Any questions or feedback? I want to talk with <strong>you</strong>.
        </p>
        {% include 'contact.html.twig' %}


    </div>

</div>


