---
layout: wrapped
title: Home
generator: pagination
pagination:
    max_per_page: 3
use:
    - posts
---
<article>
    <h2>I'm running for City Council in Ward 11!</h2>
    <p>
        In October of 2017, Edmonton will be electing a new City Council. For some time, we've elected 50 or 60 something
        white businessmen to council as a force of habit. However, times are changing within the City. The "Metro Line" catastrophic
        failure was a _software_ problem, which delayed passengers and traffic for several years. Most of our council has never
        written a line of code in their lives, so how can they truly make important decisions in an information economy?

        Software and automation represents the single biggest method of saving dollars across the globe, but out-of-touch
        representatives are missing opportunities. Let's change that.
    </p>

    <p>
        Sign up below to receive email updates about the campaign as it becomes ready - a new website and platform information will be coming soon!
    </p>
    <a href="/newsletter" class="button"><i class="fa fa-envelope"></i> Register for email updates</a>
</article>

{% for post in page.pagination.items %}
    <article class="someclass2">
        <header>
            <h2 style="margin-bottom: 0"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h2>
            <h4 style="margin: 0"><small>{{ post.date|date("Y-m-d") }}</small></h4>
        </header>
        <div>
            {{ post.blocks.content|raw }}
        </div>
        {% if post.meta.tags %}
            <p class="tags">
                {% for tag in post.meta.tags %}
                    <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}" class="tag tag-{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </p>
        {% endif %}
    </article>
{% endfor %}
